:root {
    --text-color: #000;
    --font-family: "Roboto", "Arial", sans-serif;
    --body-bg-color: #fff;
}

/* FONTS */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v30-latin-700.woff") format("woff");
    font-display: swap;
}


html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: green;
    color: var(--body-bg-color);
}

.header__container {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
}

/* Content */
.content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content__wrapper {
    display: flex;
    justify-content: center;
}

form {
    position: relative;
    margin-right: 40px;
}

.input {
    width: 200px;   
    border: 2px solid var(--text-color);
    padding: 10px;
}

.content__result-wrapper {
    width: 200px;
}

.wrapper {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #000;
    padding: 5px 10px;
}

.wrapper:nth-child(odd) {
    background-color: rgb(216, 215, 211);
}


@media only screen and (max-width: 500px) {
    .content {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .content__wrapper {
        width: 100%;
        max-width: 500px;
        flex-direction: column;
    }

    form {
        margin-right: 0;
    }

    .input {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .content__result-wrapper {
        width: 100%;
    }

}